.workspace-leaf-content[data-type="simple-file-editor"] .view-content {
  font-family: var(--font-monospace);
}
.workspace-leaf-content[data-type="simple-file-editor"] .cm-s-obsidian .cm-header {
  color: var(--text-accent);
  font-weight: 600;
}
.workspace-leaf-content[data-type="simple-file-editor"] .cm-s-obsidian .cm-def {
  color: var(--text-normal);
  font-weight: 600;
}
.workspace-leaf-content[data-type="simple-file-editor"] .cm-s-obsidian .cm-quote {
  color: var(--text-normal);
}